 * { /*to remove margin from corner (which is given by the browser by default), every thing will be reset */
    margin: 0;
    padding: 0;

}
.container { 
    background-color: rgb(78, 78, 250); /* to add background to the whole page */
    min-height: 100vh; /*to set min height to 100vh*/
    border: 10px solid rgb(210, 121, 11); /* adding border to the edges*/

}

.content {
    max-width: 900px; /* width of the content(horizontally) ||<--------------900px--------------->|----extra remaining outside content----|*/ 
    margin: 0 auto; /* 0 -> up & down = 0, auto -> right and left = center */

}

/* Providing flex in top_section */
.top_section {
    margin-top: 100px; /*3.  */
    display: flex; /*1. it will bring img and name, date side by side */
    justify-content: space-between; /*2. to give space b/w them (b/w the two div tags)  */
    
}

.top_section h1 { /* h1 of top_section */
    font-size: 50px; /* to incease the font-size of the text */
    font-weight: bold; /* to make the text bold */
    color: rgb(159, 43, 8);
    text-transform: uppercase; /* to set the whole text in uppercase */

}

.image_container {
    border-radius: 50%; /* to make the image circular */
    /* if it's not working, then do.. */
    overflow: hidden;
}

.image_container, img { /* it will select the img tag under the image_container */
    width: 300px;
    height: 320px;
}